.root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 3rem;
  font-weight: 200;
  animation: fade 1s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image {
  height: 650px;
  width: 330px;
  float: left;
  margin: 0 3rem 3rem 0;
  background-image: url(../../../public/me.jpg);
  background-size: cover;
}

.header {
  margin-bottom: 2rem;
}

.text {
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .image {
    display: none;
  }
}
