.root {
  max-width: 1025px;
  margin: 0 auto;
  padding: 3rem;
  font-weight: 200;
  animation: fade 1s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image {
  height: 720px;
  float: left;
  margin: 0 3rem 3rem 0;
  background-image: url(../../../public/me.jpg);
  background-size: cover;
}

.header {
  margin-bottom: 3rem;
}

.text {
  margin-bottom: 2rem;
  line-height: 2rem;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .root {
    padding: 3rem 2rem;
  }

  .image {
    display: none;
  }
}
