.root {
  margin: 4rem 0;

  h4 {
    margin-bottom: 2rem;
  }
}

.title {
  margin: 1rem 0;
  font-weight: 600;
}

.readingContainer {
  display: flex;
  justify-content: space-between;
}

.reading {
  background-color: white;
  padding: 2rem;
  max-width: 300px;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  cursor: pointer;

  img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .root {
    display: none;
  }
}
