.root {
  display: flex;
  margin: 0 auto 25px auto;
  background-color: white;
  padding: 25px;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 800px;
  width: 800px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  height: 185px;

  &:hover {
    transform: translate(3px, -3px);
  }

  &:active {
    transform: translate(0, 0);
  }
}

.preview {
  margin-right: 30px;
  height: 100%;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.subheader {
  color: gray;
  margin-bottom: 5px;
}

.description {
  color: gray;
}
