.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1280px;
  margin: 50px auto;
  padding: 0 2rem;
}

.container {
  width: 100%;

  h2,
  h3,
  h4 {
    margin-bottom: 2rem;
  }

  h3 {
    scroll-margin: 110px;
  }

  ul,
  ol {
    margin: 2rem 0 2rem 2rem;
  }

  li {
    line-height: 2rem;
  }
}

.center {
  text-align: center;
}

.sectionHeader {
  font-weight: 600;
}

.subheader {
  font-weight: normal;
  color: gray;
  font-size: 24px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.descriptions {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.descriptor1,
.descriptor2 {
  display: block;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 600;
  margin-right: 50px;
}

.descriptor2 {
  font-weight: 500;
}

.hero {
  max-width: 100%;
  display: block;
  margin: 40px auto 0 auto;
}

.image {
  max-width: 100%;
  display: block;
  margin: 3rem auto;
}

.mediaWithDescription {
  margin: 3rem 0;

  img {
    width: 100%;
  }

  video {
    margin-bottom: 0;
  }

  p {
    margin: 0.5rem 0 0 0.1rem;
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    color: gray;
    font-style: italic;
  }
}

.video {
  width: 100%;
  margin-bottom: 2rem;
}

.iphone {
  float: right;
  margin: 0 0 3rem 3rem;
}

.text {
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 20px;
  line-height: 2rem;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

.subtext {
  text-align: left;
  color: gray;
  line-height: 2rem;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.highlight {
  text-align: left;
  font-style: italic;
  color: red;
  line-height: 32px;
  font-size: 18px;
  margin: 2rem 0;
}

.code {
  background-color: rgba(135, 131, 120, 0.15);
  padding: 0.2em 0.3em;
  margin: 0 0.15em;
  border-radius: 4px;
  color: #eb5757;
}

.mediaGroup {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;

  > div:first-child {
    margin-right: 3rem;
  }

  img,
  video {
    height: 500px;
  }

  video {
    margin-bottom: 0;
  }

  p {
    margin: 0.5rem 0 0 0.1rem;
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    color: gray;
    font-style: italic;
  }
}
