.root {
  max-width: 800px;
  margin: 50px auto;
  font-weight: 200;
}

.center {
  text-align: center;
}

.subheader {
  font-weight: normal;
  color: gray;
  font-size: 24px;
}

.description {
  display: flex;
  flex-direction: row;
  margin: 40px 0 25px 0;
}

.descriptor1,
.descriptor2 {
  display: block;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 600;
  margin-right: 50px;
}

.descriptor2 {
  font-weight: 500;
}

.image {
  max-width: 100%;
  display: block;
  margin: 40px auto;
}

.mainImage {
  max-width: 100%;
  display: block;
  margin: 40px auto 0 auto;
}

.container {
  margin: 20px auto;
}

.sectionHeader {
  font-weight: 600;
}

.text {
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 20px;
  line-height: 35px;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

.subtext {
  text-align: left;
  color: gray;
  line-height: 32px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.highlight {
  text-align: left;
  font-style: italic;
  color: red;
  line-height: 32px;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .root {
    margin-left: 10%;
    margin-right: 10%;
  }
}
