nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  top: 5px;
  position: sticky;
  z-index: 1000;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1000;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #707070;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  text-decoration: none !important;
}

.link:hover:not(.linkActive) {
  color: black;
  background: rgba(231, 231, 231, 0.7);
  transition: all 0.5s ease;
  color: #707070;
}

.linkActive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: black !important;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  text-decoration: none !important;
}

.burger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    margin-right: auto;
    margin-left: auto;
    transition: all 0.3s ease;
  }
  &.open {
    :first-child {
      transform: rotate(-45deg) translate(-5px, 6px);
    }

    :nth-child(2) {
      opacity: 0;
    }

    :last-child {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding: 2rem;
    background-color: white;
    justify-content: center;
    align-items: center;
  }

  .burger {
    display: block;
  }

  .linkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 60px;
    background-color: white;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.25s ease-in;
    box-shadow: none;
    background-image: linear-gradient(white 10%, #c3c3c3b8 70%);

    &.open {
      transform: translateX(0%);
    }
  }

  .link {
    width: 100%;
  }
}
